{
  "Version": 2,
  "Defaults": {
    "solid": "Collide"
  },
  "Pairs": [
    {
      "a": "solid",
      "b": "solid",
      "r": "Collide"
    },
    {
      "a": "playerclip",
      "b": "solid",
      "r": "Collide"
    }
  ],
  "__guid": "49795673-92ba-4d8a-b9e7-dd11ebad84ff",
  "__schema": "configdata",
  "__type": "CollisionRules",
  "__version": 2
}