{
  "Actions": [
    {
      "Name": "Left",
      "KeyboardCode": "A",
      "GamepadCode": "None",
      "GroupName": "Movement"
    },
    {
      "Name": "Right",
      "KeyboardCode": "D",
      "GamepadCode": "None",
      "GroupName": "Movement"
    }
  ],
  "__guid": "b1bd28d9-528d-4f17-9d7c-7e96eca47f4b",
  "__schema": "configdata",
  "__type": "InputSettings",
  "__version": 1
}